* {
  @include box-sizing(border-box);
}

img {
  max-width: 100%;  // fluid images
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

h1, h2 {
  color: $h1-color;
  a {
    color: $h1-color;
  }
}

h1 {
  margin-top: 0;
}

.highlight {
  color: $highlight-color;
}

.byline {
  @include small-font;
  text-align: right;
  clear: left;
  margin-bottom: rhythm(1);
}

/* Quick Nav */
.quick-nav {
  clear: both;
  text-align: center;
  border-bottom: $divider-style;
  border-top: $divider-style;
  padding: 8px 0 2px 0;
  @include clearfix;
  a {
    font-family: icomoon;
    font-size: 28px;
    line-height: 28px;
    color: $highlight-color;
    text-decoration: none;
    &:hover {
      color: $social-icon-active-color;
    }
  }
  .next {
    float: right;
  }
  .previous {
    float: left;
  }
  .up {
    margin: 0 auto;
  }
}
